* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav .container {
    display: flex;
    /* max-width: 1440px; */
    height: 95px;
    background-color: #202020;


}

header nav .container .navbar {
    display: flex;
    justify-content: space-between;
}

header nav .container .navbar ul {

    display: flex;
    /* justify-content: space-between; */

}

.container h1 {
    margin-top: 34px;
    margin-left: 188px;
    margin-right: 104px;
    font-size: 24px;

    color: #fff;
}

.container ul li a {
    margin-top: 35px;
    margin-right: 40px;
    text-decoration: none;
    font-size: 16px;

    color: #fff;
}

.container a button {
    margin-top: 35px;
    margin-right: 104px;
    background-color: #FF3839;
    color: #FFFFFF;
    width: 128px;
    height: 44px;
    border-radius: 5px;
    top: 4.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}


/* section start */



.container {
    background-color: rgb(42, 41, 41);
    position: relative;
    text-align: center;
    color: white;
}


.yazi1 {
    font-size: 16px;
    font-family: 'Poppins';
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yazi1 span {
    color: #FF3839;
}

.yazi2 {
    font-size: 70px;
    font-family: 'Poppins';
    position: absolute;
    top: 44%;
    left: 49%;
    transform: translate(-50%, -50%);
}


.yazi3 {
    width: 600px;
    height: 59px;
    font-size: 16px;
    font-family: 'Poppins';
    position: absolute;
    top: 60%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.button1 {
    position: absolute;
    top: 63%;
    left: 36%;
}

.button1 a button {
    width: 181px;
    height: 48px;
    border-radius: 5px;
}

.button2 {
    position: absolute;
    top: 63%;
    margin-left: 750px;
}

.button2 a button {
    background-color: #fff;
    color: #202020;
    width: 181px;
    height: 48px;
    border-radius: 5px;
}

/* ikinci sehife */
.sehife2 {
    background-color: #fff;
}

/* .sehife2 :nth-child(1){
    margin-left: 135px;
    margin-top: 112px;
    position: absolute;
} */

.sehife2 img {
    position: absolute;
    margin-left: 135px;
    margin-top: 112px;
    padding-bottom: 130px;
}


/* .sehife2 :nth-child(2){
background-color: blue;
margin-left: 234px;
 margin-right: 770px;
   left: 60%;
} */

.sehife2 .sekil2 {
    display: block;
    margin-left: 234px;
    margin-right: 90%;
    top: 50%;
    padding-top: 186px;

}

.sehife2 .yazi4 {
    top: 1122px;
    /* margin-right: 400px; */
    left: 64%;
    position: absolute;
    font-size: 16px;
}

.sehife2 .yazi4 h1 {
    color: #FF3839;
}

.sehife2 .yazi4 span {
    color: #696969;
}

.sehife2 .basliq {
   width: 534;
   left: 752px;
    /* padding-top: 19px; */
    font-size: 48px;

    position: absolute;
}

.sehife2 .basliq span {
    color: #FF3839;

}
.sehife2 .yazi5{
    position: absolute;
    width: 504px;
    height: 363px;
    margin-left: 752px;
    padding-top: 170px;
}
.sehife2 .button3{
    position: absolute;
    margin-left: 752px;
    margin-top: 385px;
    
   
}
.sehife2 .button3 a button{
    background-color: #FF3839;
    width: 181px;
    height: 48px;
    border-radius: 5px;
    color: #FFFFFF;
}

/* sehife2 end */


/* sehife3 start */


